<link rel="stylesheet" href="{{ url_for('.static',filename='css/select2.css',_external=True) }}" />
<link rel="stylesheet" href="{{ url_for('.static',filename='css/select2-bootstrap.css',_external=True) }}" />

<style>
	.graph {
		color: black;
		padding: 1em;
		overflow-x: auto;
	}



	.node:not(:hover) .label {
		display: none;
	}




	.node rect {
		cursor: move;
		fill-opacity: .9;
		shape-rendering: crispEdges;
	}

	.node text {
		pointer-events: none;
		font: 10px sans-serif;
		font-weight: 100;
		font-style: normal;
		font-variant: normal;
		text-shadow: 0 1px 0 #fff;
		stroke: #414141;
		display: block;
		color: rgb(41,41,41);
	}

	.link {
		fill: none;
		stroke: #000;
		stroke-opacity: .1;
	}

	.link:hover {
		stroke-opacity: .5;
	}


</style>


<form class="form-horizontal" role="form">
<div class="form-group" id="id{{ data_hash }}_control_group">
		<label for="activities" class="col-sm-2 control_label"><i class="icon-search"></i> Select an Activity</label>
		<input type="hidden" class="col-sm-10 form_control" id="id{{ data_hash }}_activities" style="width: 100%; "></input>
</div>
</form>

<div id="id{{ data_hash }}_graph" class="graph"></div>


<!-- Always load jQuery -->
<script type="application/x-javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<!-- <script type="application/x-javascript" src="{{ url_for('.static',filename='js/activity_graph.js',_external=True)}}"></script> -->

<!-- <script type="application/x-javascript" src="{{ url_for('.static',filename='js/jquery.storage.js',_external=True) }}"></script> -->
<!-- <script src="{{ url_for('.static',filename='js/d3.v3.js',_external=True)}}" charset="utf-8"></script>
<script type="application/x-javascript" src="{{ url_for('.static',filename='js/sankey.js',_external=True)}}"></script> -->
<!-- <script type="application/x-javascript" src="{{ url_for('.static',filename='js/colorbrewer.js',_external=True)}}"></script> -->

<!-- <script src="{{ url_for('.static',filename='js/vendor/jquery.ui.widget.js', _external=True) }}"></script> -->

<!-- <script src="{{ url_for('.static',filename='js/bootstrap.min.js', _external=True) }}"></script> -->


<!-- <script src="{{ url_for('.static',filename='js/select2.js', _external=True) }}"></script> -->
<!-- <script src="{{ url_for('.static',filename='js/vendor/jquery.ui.widget.js', _external=True) }}"></script> -->


<script>
	var activities = {{ response|safe }};

	$(function(){
        
        // The service call is not embedded in the Prov-O-Viz page
        if (typeof embedded_service_call === 'undefined') {
    		console.log("Loading Bootstrap");
    		$.getScript("{{ url_for('.static',filename='js/bootstrap.min.js',_external=True)}}").success(function(){
                console.log("Loaded Bootstrap");
                load_modules_and_initialize();
            })
        } else {
            // NO need to load Bootstrap
            load_modules_and_initialize();
		}
        

	});
    
    function load_modules_and_initialize(){
		console.log("Loading D3js");
		$.getScript("{{ url_for('.static',filename='js/d3.v3.js',_external=True)}}").success(function(){
            console.log("Loaded D3js");
            
			console.log("Loading sankey.js");
			$.getScript("{{ url_for('.static',filename='js/sankey.js',_external=True)}}").success(function(){
			    console.log("Loaded sankey.js");
                
    			console.log("Loading colorbrewer");
    			$.getScript("{{ url_for('.static',filename='js/colorbrewer.js',_external=True)}}").success(function(){
    			    console.log("Loaded colorbrewer");
                    
        			console.log("Loading activity_graph.js");
        			$.getScript("{{ url_for('.static',filename='js/activity_graph.js',_external=True)}}").success(function(){
        			    console.log("Loaded activity_graph.js");
        			});
    			});
			});
		});
        
        
        
		console.log("Loading jQuery Widgets");
		$.getScript("{{ url_for('.static',filename='js/vendor/jquery.ui.widget.js',_external=True)}}").success(function(){
		    console.log("Loaded jQuery Widgets");
    
    		console.log("Loading select2");
    		$.getScript("{{ url_for('.static',filename='js/select2.js',_external=True)}}").success(function(){
    		    console.log("Loaded select2");
                $(".select2-container").remove();
                $("#id{{ data_hash }}_activities").removeClass('select2-offscreen').select2({ placeholder: "Start typing..." , allowClear: true, data: activities });
    		});
		});
    }
	
	function get_activity_details(activity_name){
		var selected_activity;
		
		for (var a in activities) {
			var activity = activities[a];
			
			if (activity['id'] == activity_name) {
				console.log(activity);
				selected_activity = activity;
				break;
			}
			
		}
		
		return selected_activity;	
		
		
	}
	
	function build_sankey(activity_name){
		console.log("Dit is de naam "+ activity_name);
		
		selected_activity = get_activity_details(activity_name);
		
		console.log(selected_activity);
		
		$("#id{{ data_hash }}_graph").empty();
        
		drawSankeyDiagram('#id{{ data_hash }}_graph', selected_activity.graph, selected_activity.width, selected_activity.types, selected_activity.diameter);

		$('.activity').on('click', function(e){
			build_sankey(e.currentTarget.id);
		});
		
	}

    $('#id{{ data_hash }}_activities').change(function(e) {
        console.log(e);
        console.log("Dit is de waarde "+ e.val);
       
        if (e.val == []) {
            return;
        }
		
		build_sankey(e.val);
    }); 
</script>




<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36060503-6', 'provoviz.org');
  ga('send', 'pageview');

</script>