<div class="control-group">
        <div class="controls">
                <label for="activities"><i class="icon-search"></i> Select an Activity</label>
                <input type="hidden" id="activities" style="width: 100%; "></input>
        </div>
</div>

<script type="application/x-javascript" src="static/js/activity_graph.js"></script>
<script type="application/x-javascript" src="static/js/sankey.js"></script>
<script type="application/x-javascript" src="static/js/colorbrewer.js"></script>
<script>
    $('#activities').change(function(e) {
        console.log(e);
        console.log("Dit is de waarde "+ e.val);
       
        if (e.val == []) {
            return;
        }
        $("#graph").empty();
        
        $("#noselection").hide();
        $("#noresponse").hide();
        $("#loading").show();
        
        var endpoint_uri = $.localStorage('endpoint_uri');
        
        var activity_id = $.localStorage(e.val);
        var activity_uri = e.val;
        var graph_uri = $.localStorage('graph_uri');
        
        drawDiagramForActivity('{{ url_for("diagram") }}', activity_uri, activity_id, graph_uri, endpoint_uri);

    });
        
</script>