<!DOCTYPE html>

<html>
<head>
    <title>PROV Provenance Visualizer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap-theme.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('.static',filename='css/provoviz.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/select2.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/select2-bootstrap.css') }}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ url_for('.static',filename='js/jquery.storage.js') }}"></script>
	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>


</head>

<body>

    <div class="container" id="#contents">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1><img src="{{ url_for('.static',filename='img/logo-no-text-150dpi.png') }}"style="float: left; width: 100px;"/>PROV-O-Viz <small>Visualizing the Train of Thought</small> </h1>
                    <p>Copyright (c) 2013, Rinke Hoekstra, VU University Amsterdam</p>
                </div>
            </div>
        </div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">				
				<h4>About PROV-O-Viz</h4>
				<p>With PROV-O-Viz you can visualize <em>any</em> provenance graph expressed using the <a href="http://www.w3.org/TR/prov-o/" target="_blank">W3C PROV-O vocabulary</a> as an intuitive <a href="http://bost.ocks.org/mike/sankey/" target="_blank">Sankey diagram</a>. Really neat.</p>
				<p>PROV-O-Viz was developed by the <a href="http://www.data2semantics.org" target="_blank">Data2Semantics</a> project, funded under the <a href="http://www.commit-nl.nl" target="_blank">COMMIT/ programme</a>.</p>
				<h4>How to use it</h4>
				<p>To see what it does, you can point PROV-O-Viz to your own SPARQL endpoint, containing Named Graphs with PROV-O activities and entities in it.</p>
				<p>Alternatively, you can simply copy and paste some of PROV-O in Turtle format in the Paste-And-Go form.</p>

				<p>Finally, you can POST PROV-O in Turtle format to the PROV-O-Viz service, and we'll return a self-contained HTML snippet for you to include in your website.</p>
				<ul>
					<li>The service lives at <code>http://provoviz.org/service</code>, and</li>
					<li>expects a POST with a <code>graph_uri</code> parameter (a URI that identifies your provenance graph), and</li>
				 	<li>a <code>data</code>	parameter that contains a Turtle serialization of a PROV-O graph</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Go on, give us some PROV!
					</div>
					<div class="panel-body">
						<ul class="nav nav-tabs" id="options_tab">
							<li class="active"><a href="#paste">Paste-And-Go</a></li>
							<li><a href="#sparql">SPARQL Endpoint</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="paste">
								<h4>Paste-And-Go form</h4>
								<p>Paste a Turtle serialization of a PROV-O graph in the text area below.</p>
								<div class="input-append">
									<textarea id="provodata" class="col-xs-12" name="data" rows="4" placeholder="PROV-O input"></textarea>
									<button id="provoSubmit" class="btn btn-primary btn-block" value="go" type="button">Go</button>
								</div>
								<div class="alert alert-info" style="margin-top: 1em;"><strong>Example</strong>
									<p>Use the most excellent <a href="http://git2prov.org">Git2PROV</a> we developed together with the University of Ghent to generate PROV-O from your favorite Git repository. The output of Git2PROV can simply be copied to the text area.
									</p>
								</div>
							</div>
							<div class="tab-pane" id="sparql">
				                <h4>SPARQL Endpoint</h4>
				                <p>Give the URL of your SPARQL endpoint</p>
				                <div class="input-append">
				                    <input type="text" class="col-xs-12" id="endpoint" name="endpoint" placeholder="Start typing..." width="100%"></input><button type="button" id="endpointSubmit" value="go" class="btn btn-primary btn-block">Go</input>
				                </div>
								<div class="alert alert-info" style="margin-top: 1em;"><strong>Example</strong>
									<p>Our own <a id="endpointLink">experimental endpoint</a> usually contains some PROV-O for you to explore.
									</p>
								</div>
								<div id="explore-row">
					                <h4>Select Provenance Graph</h4>
					                <p>When you select a Named Graph, we will retrieve a list of all activities in that graph. Only graphs with activities are shown here.</p>
									<div class="control-group">
									        <div class="controls">
									                <label for="graphs"><i class="icon-search"></i> Select a Named Graph</label>
									                <input type="hidden" id="graphs" style="width: 100%; "></input>
									        </div>
									</div>
								</div>				
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Explore Activities
					</div>
					<div class="panel-body">
						  <!-- Button trigger modal -->
  						<div id="source" data-toggle="modal" href="#source_modal" class="btn btn-disabled" style="float: right;">Show Source</div>
						<div id="noselection" class="row">
						    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						        <div class="alert alert-warning" style="margin-top: 2em;">This is where you will be able to select activities to visualize once you've <strong>given us some PROV</strong>!</div>
						    </div>
						</div>
						<div id="selectgraph" class="row">
						    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						        <div class="alert alert-warning" style="margin-top: 2em;">Please select a graph from the panel above...</div>
						    </div>
						</div>
						<div id="loading" class="row">
						    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						        <div class="alert alert-info" style="margin-top: 2em;">Loading...</div>
						    </div>
						</div>
						<div id="noresponse" class="row">
						    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
						        <div class="alert alert-error" style="margin-top: 2em;">The query did not return anything, sorry!</div>
						    </div>
						</div>
						<div  id="activities-row">
			                <p>When you select an activity from the drop down box, we will render Sankey diagram showing the <strong>activity</strong> together with causally-related <strong>entities</strong> and <strong>activities</strong>.</p>
							<div id="serviceactivities">
								<strong>nothing</strong>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5>Credits</h5>
                <p>Thanks go to the most excellent <a href="http://d3js.org/">D3.js</a> library for the Sankey diagram used on this page.</p>
            </div>
        </div>
    </div>




  <!-- Modal -->
  <div class="modal fade" id="source_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Provenance Graph Source</h4>
        </div>
        <div class="modal-body">
          <textarea id="sourcetext" class="col-xs-12" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <script type="application/x-javascript">

		$('#options_tab a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		})

        $(document).ready(function() {
            $("#loading").hide();
            $("#noresponse").hide();
			$("#selectgraph").hide();
            $("#explore-row").hide();
            $("#activities-row").hide();
			$("#serviceactivities").hide();	
			$("#serviceactivities").empty();
            
            $('#endpointSubmit').on('click',function(){
            	endpointSubmit($('#endpoint').val());
            });

			$('#provoSubmit').on('click', function(){
				provoSubmit($('#provodata').val());
			});
			
			$('#endpointLink').on('click', function(){
				endpointSubmit('http://semweb.cs.vu.nl:8080/openrdf-sesame/repositories/provoviz');
			});
			
			$('#source').on('click', function(){
				if ($( "#source" ).hasClass( "btn-default" )) {
					showSource();
				}
			})
        });

		function showSource() {
			var path = $('#serviceactivities').html();
        	path = path.replace(/ &amp;gt; /g,".");
        	//console.log(path);
        	$('#sourcetext').text(path);
		}

        function endpointSubmit(endpoint_uri) {
        	$("#loading").show();
            $("#noresponse").hide();
            $("#noselection").hide();
			$("#selectgraph").hide();
            $("#explore-row").hide();
            $("#activities-row").hide();
			$("#serviceactivities").hide();	
			$("#serviceactivities").empty();	
            $("#source").addClass('btn-disabled');
			$("#source").removeClass('btn-default');
				
            $.localStorage('endpoint_uri',endpoint_uri);
            
            $.getJSON('{{ url_for("graphs") }}', {endpoint_uri: endpoint_uri }).done(function(data){
                
                
                $("#graphs").select2({ placeholder: "Start typing..." , allowClear: false, data: data.graphs });
                $("#loading").hide();
                $("#explore-row").show();
				$("#selectgraph").show();
				$.scrollTo( '#explore-row', 800);
                
            });
        }

		function provoSubmit(provodata) {
			$("#loading").show();
            $("#noresponse").hide();
            $("#noselection").hide();
            $("#explore-row").hide();
			$("#selectgraph").hide();
            $("#activities-row").hide();
			$("#serviceactivities").empty();
			$("#serviceactivities").hide();	

			var hash=CryptoJS.SHA1(provodata);
			
			var graph_uri = "http://prov.data2semantics.org/resource/"+hash;
			
			console.log(graph_uri);
			
			var post_data = { data: provodata, graph_uri: graph_uri };
			
			$.post('{{ url_for("service") }}', post_data, function(data){
				$("#serviceactivities").empty();
				$("#serviceactivities").html(data);
				$("#loading").hide();
				$("#source").removeClass('btn-disabled');
				$("#source").addClass('btn-default');
				$("#activities-row").show();
				$("#serviceactivities").show();	
				$.scrollTo( '#activities-row', 800);
			})
		}

		$('#graphs').change(function(e) {
   
		    if (e.val == []) {
		        $('#noselection').show()
		        return;
		    }
    
		    $("#noselection").hide();
		    $("#noresponse").hide();
			$("#selectgraph").hide();
		    $("#loading").show();
		    $("#activities-row").hide();
			$("#serviceactivities").empty();
			$("#serviceactivities").hide();	
    
    
		    var graph_uri = e.val;
		    $.localStorage('graph_uri',graph_uri);
		    var endpoint_uri = $.localStorage('endpoint_uri');
    
		    $.get('{{ url_for("activities") }}', {graph_uri: graph_uri, endpoint_uri: endpoint_uri }).done(function(data){
				$("#serviceactivities").empty();
				$("#serviceactivities").html(data);
				$("#loading").hide();
				$("#source").removeClass('btn-disabled');
				$("#source").addClass('btn-default');
				$("#activities-row").show();
				$("#serviceactivities").show();	    
		    });

		});
      
    </script>

</body>
<script src="{{ url_for('.static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('.static',filename='js/select2.js') }}"></script>
<script src="{{ url_for('.static',filename='js/vendor/jquery.ui.widget.js') }}"></script> 
<script src="{{ url_for('.static',filename='js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
<script type="application/x-javascript" src="{{ url_for('.static',filename='js/d3.v3.js',_external=True) }}"></script>
<script type="application/x-javascript" src="{{ url_for('.static',filename='js/sankey.js',_external=True)}}"></script>
<script type="application/x-javascript" src="{{ url_for('.static',filename='js/colorbrewer.js',_external=True)}}"></script>
<script type="application/x-javascript" src="{{ url_for('.static',filename='js/activity_graph.js',_external=True)}}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36060503-6', 'provoviz.org');
  ga('send', 'pageview');

</script>


</html>
