<!DOCTYPE html>

<html>
<head>
    <title>PROV Provenance Visualizer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap.min.css') }}" />
    <!-- <link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap-theme.min.css') }}" /> -->
	<link rel="stylesheet" href="{{ url_for('.static',filename='css/provoviz.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/select2.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static',filename='css/select2-bootstrap.css') }}" />
    <script type="application/x-javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="application/x-javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
    
    <script>
    // Make sure that we know what modules to load from the service response
    var embedded_service_call = true;
    $("#title").hide();
    $("#about").hide();
    
    $(document).ready(function() {
        $.getScript("{{ url_for('.static',filename='js/bootstrap.min.js') }}").success(function(){
            console.log("Loading jQuery Storage");                
            $.getScript("{{ url_for('.static',filename='js/jquery.storage.js') }}").success(function(){
                console.log("jQuery Storage loaded");
                console.log("Loading jQuery Fittext");
                $.getScript("{{ url_for('.static',filename='js/jquery.fittext.js') }}").success(function(){
                    console.log("jQuery Fittext loaded");
                    console.log("Loading SHA1");
                    $.getScript("https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha1.js").success(function(){
                        console.log("SHA1 loaded");
                        console.log("Loading Socket IO");
                        $.getScript("http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js").success(function(){
                            console.log("Socket IO loaded");
                            console.log("Loading Main module");
                            $.getScript("{{ url_for('.static',filename='js/main.js') }}").success(function(){
                                console.log("Main module loaded");
                                
                                var graphs_url = '{{ url_for("graphs_service") }}';
                                var endpoint_url = '{{ url_for("endpoint_service") }}';
                                var data_url = '{{ url_for("data_service") }}';
                                
                                initialize(graphs_url, endpoint_url, data_url);
                            });
                        });
                    });
                });
            });
        });
    });
        
    </script>

    


    
</head>

<body>
    
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href="#"><img src="{{ url_for('.static',filename='img/logo-no-text-150dpi.png') }}"/></a>
            <a class="navbar-brand">PROV-O-Viz</a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown keep-open" id="provenance-upload-dropdown">
                <a href="#" id="provenance-upload-toggle" class="dropdown-toggle" data-toggle="dropdown">Upload <b class="caret"></b></a>
                <ul class="dropdown-menu" id="provenance-upload-menu">
					<div style="margin: 10px;" class="form-group">
                        <label for="provenance-data">Upload Provenance</label>
						<textarea style="height: 131px; width: 455px;" id="provenance-data" class="col-xs-12" name="data" rows="4" placeholder="PROV-O input"></textarea>
                        <div>
                            <div class="radio-inline">
                              <label>
                                <input type="radio" name="format-radios" id="format-radio-turtle" value="turtle" checked>
                                Turtle
                              </label>
                            </div>
                            <div class="radio-inline">
                              <label>
                                <input type="radio" name="format-radios" id="format-radio-rdfxml" value="xml">
                                RDF/XML
                              </label>
                            </div>
                        </div>
                        <span class="help-block">Use the above text area to:
                            <ul>
                                <li>paste a Turtle or RDF/XML serialization of a PROV-O graph, or</li>
                                <li>paste a URL pointing to the location of a PROV-O graph</li>
                            </ul>
                        </span>
						<button id="submit-provenance-data" class="btn btn-primary  btn-block" value="go" type="button">Submit</button>
					</div>                  
                </ul>
              </li>
              <li class="dropdown keep-open" id="sparql-endpoint-dropdown">
                <a href="#" id="sparql-endpoint-toggle" class="dropdown-toggle" data-toggle="dropdown">Endpoint <b class="caret"></b></a>
                <ul class="dropdown-menu" id="sparql-endpoint-menu">
					<div style="margin: 10px;" class="form-group">
                        <label for="endpoint">SPARQL Endpoint URI</label>
		                <div class="form-group">
		                    <input style="width: 455px;" type="text" class="form-control input" id="provenance-endpoint" name="provenance-endpoint" placeholder="{{ default_endpoint }}" width="100%"></input>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" id="ignore-named-graphs" name="ignore-named-graphs"/> Ignore Named Graphs
                              </label>
                            </div> 
                            <span class="help-block">Specify the URI of your SPARQL endpoint above. Typically provenance graphs are stored as separate named graphs. If you experience performance problems, or have provenance graphs spanning multiple Named Graphs, check the box.</span>
		                </div>
                        <button type="button" id="submit-provenance-endpoint" value="go" class="btn btn-primary btn-block">Submit</button>
                        <!-- <div id="explore-row">
                            <h4>Select Provenance Graph</h4>
                            <p>When you select a Named Graph, we will retrieve a list of all activities in that graph. Only graphs with activities are shown here.</p>

                        </div> -->
					</div>                  
                </ul>
              </li>
              <li class="dropdown" id='named-graphs-dropdown' style="display: none;">
                  <a href="#" id="named-graphs-toggle" class="dropdown-toggle" data-toggle="dropdown">Provenance Graphs <b class="caret"></b></a>
                  <ul class="dropdown-menu" id="named-graphs-menu">
                  </ul>
              </li>
            </ul>
            <!-- <form class="navbar-form navbar-left" id="explore-row">
                    <input class="form-control" type="hidden" id="graphs"></input>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
				<li><a id="source" data-toggle="modal" href="#source_modal" class="btn btn-disabled" style="float: right; display: none;">&lt;&gt;</a></li>
              <li><a id="#api-button" data-toggle="modal" data-target="#api-modal" href="#">About</a></li>
              <li><a href="http://www.data2semantics.org">Data2Semantics</a></li>
            </ul>
          </div>
        </div>
    </div>
    
	<div class="container" id="splash-container">
		<div class="row">
			<div id="splash" class='col-lg-12'>
				<h1 id="title">PROV-O-Viz</h1>
			</div>
		</div>
	</div>
    
    <div class="container" id="contents">


        <!-- Modal -->
        <div class="modal fade" id="api-modal" tabindex="-1" role="dialog" aria-labelledby="api-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="api-modal-label">About PROV-O-Viz</h4>
              </div>
              <div class="modal-body">
				<p>With PROV-O-Viz you can visualize <em>any</em> provenance graph expressed using the <a href="http://www.w3.org/TR/prov-o/" target="_blank">W3C PROV-O vocabulary</a> as an intuitive <a href="http://bost.ocks.org/mike/sankey/" target="_blank">Sankey diagram</a>. Really neat.</p>
				<p>PROV-O-Viz was developed by the <a href="http://www.data2semantics.org" target="_blank">Data2Semantics</a> project, funded under the <a href="http://www.commit-nl.nl" target="_blank">COMMIT/ programme</a>.</p>
				<h4>How to use it</h4>
				<p>To see what it does, you can point PROV-O-Viz to your own SPARQL endpoint, containing Named Graphs with PROV-O activities and entities in it.</p>
				<p>Alternatively, you can simply copy and paste some of PROV-O in Turtle format in the Paste-And-Go form.</p>

				<p>You can also POST PROV-O in Turtle format to the PROV-O-Viz service, and we'll return a self-contained HTML snippet for you to include in your website.</p>
				<ul>
					<li>The service lives at <code>http://provoviz.org/service</code>, and</li>
					<li>expects a POST with a <code>graph_uri</code> parameter (a URI that identifies your provenance graph), and</li>
				 	<li>a <code>data</code>	parameter that contains a Turtle serialization of a PROV-O graph</li>
				</ul>
                <h4>Credits</h4>
                <p>Thanks go to the most excellent <a href="http://d3js.org/">D3.js</a> library for the Sankey diagram used on this page.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div id="loading" class="row" style="display: none;">
				    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				        <div class="alert alert-info" style="margin-top: 2em;">Loading...
						<div id="log"></log>
						</div>
				    </div>
				</div>

            </div>
        </div>
	</div>
	<div id="serviceactivities" style="display: none;">
		<strong>nothing</strong>
	</div>





  <!-- Modal -->
  <div class="modal fade" id="source_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Provenance Graph Source</h4>
        </div>
        <div class="modal-body">
          <textarea id="sourcetext" class="col-xs-12" rows="10"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</body>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36060503-6', 'provoviz.org');
  ga('send', 'pageview');

</script>

</html>
