<div class="control-group">
        <div class="controls">
                <label for="graphs"><i class="icon-search"></i> Select a Named Graph</label>
                <input type="hidden" id="graphs" style="width: 100%; "></input>
        </div>
</div>

<script type="application/x-javascript" src="static/js/activity_graph.js"></script>
<script type="application/x-javascript" src="static/js/sankey.js"></script>
<script>
    
    $('#graphs').change(function(e) {
        console.log(e);
        console.log("Dit is de waarde "+ e.val);
       
        if (e.val == []) {
            $('#noselection').show()
            return;
        }
        $("#graph").empty();
        
        $("#noselection").hide();
        $("#noresponse").hide();
        
        $("#loading").show();
        $("#activities-row").hide();
        
        
        var graph_uri = e.val;
        $.localStorage('graph_uri',graph_uri);
        var endpoint_uri = $.localStorage('endpoint_uri');
        
        $.getJSON('{{ url_for("activities") }}', {graph_uri: graph_uri, endpoint_uri: endpoint_uri }).done(function(data){
                console.log(data);
                
                for(var i=0;i<data.activities.length;i++) {
                    
                    var activity = data.activities[i];
                    
                    $.localStorage(activity['id'],activity['text']);
                }
                
                $("#activities").select2({ placeholder: "Start typing..." , allowClear: true, data: data.activities });
                $("#loading").hide();
                $("#activities-row").show();
                
        });

    });
    

</script>