<div class="control-group">
        <div class="controls">
                <label for="graphs"><i class="icon-search"></i> Select a Named Graph</label>
                <select id="graphs" style="width: 100%; ">
                        <option></option>
                        {% for g in graphs %}
                            <option id="{{ g.id }}" value="{{ g.uri }}">{{ g.uri }}</option>
                        {% endfor %}
                </select>
        </div>
</div>

<script type="application/x-javascript" src="static/js/activity_graph.js"></script>
<script type="application/x-javascript" src="static/js/sankey.js"></script>
<script>
    $(document).ready(function() { $("#graphs").select2({ placeholder: "Start typing..." , allowClear: true }); });
    
    $('#graphs').change(function () {   
        $("#graphs option:selected").each(function (){
            if ($(this).is(":empty")) {
                return;
            }
            $("#graph").empty();
            
            $("#noselection").hide();
            $("#noresponse").hide();
            $("#activities-row").hide();
            $("#loading").show();
            
            
            var graph_uri = $(this).attr('value');
            
            $.localStorage('graph_uri',graph_uri);
            
            $.getJSON('/activities', {graph_uri: graph_uri }).done(function(data){
                console.log(data);
                
                for(var i=0;i<data.activities.length;i++) {
                    
                    var activity = data.activities[i];
                    
                    $.localStorage(activity['id'],activity['text']);
                }
                
                $("#activities").select2({ placeholder: "Start typing..." , allowClear: true, data: data.activities });
                $("#loading").hide();
                $("#activities-row").show();
                
            });
            
            

        });
        
    });
</script>