@import url(http://fonts.googleapis.com/css?family=Special+Elite);

h1.title, a.navbar-brand {
	font-family: "Special Elite";
}

#serviceactivities {
	padding: 15px;
	width: 100%;
}

#splash {
	margin-top: 25%;
}

#splash h1.title {
	text-align: center;
	font-size: 500px;
	text-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
	
}

#contents {
	margin-top: 100px;
}

.popout {
	border-left: 2px solid grey;
}

@media (min-width: 1400px) {
    .container{
        max-width: 1270px;
    }
}

@media (min-width: 1600px) {
    .container{
        max-width: 1470px;
    }
}

@media (min-width: 1800px) {
    .container{
        max-width: 1670px;
    }
}

@media (min-width: 2000px) {
    .container{
        max-width: 1870px;
    }
}